
* {
  font-family: Verdana, Geneva, sans-serif; 
}

html {
  background: #d6d6d6;
  background-image: url("images/background.jpg");
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-position:top center; 
  color: #000000;
  background-size: 500px;
}

body{
  width: 940px;
  margin: 0 auto;
}

header img {
  margin: 35px auto 20px auto;
  width: 150px;
  display: block;
}

main {
  margin-top: 50px;
  margin-right: 10px;
  background: #ffffff;
  padding: 40px 20px;
  width: 600px;
  float: left;
}

section {
  border-bottom: 2px solid black;
  margin-bottom: 50px;
}

section img {
  width: 100%;
  margin: 25px 0;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 12px;
  line-height: 1.75;
}

section a {
  color: #cc6633;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;

}

aside {
  padding: 5px 0;
  border-top: 2px dotted black;
  font-size: 12px;  
}

nav {
  padding: 60px 15px;
  margin-top: 50px;
  background: #ffffff;
  width: 250px;
  float: left;
  font-size: 12px;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: red;
}

h3 {
   font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
 list-style: none;
 margin-bottom: 20px;

}

li {
  margin-left: 20px;
  padding: 5px;
}

nav img {
  margin: 10px auto;
  width: 100%;
}

footer {
  clear: both;
  padding: 50px 0;
  margin: auto;
  width: 180px;
}

footer img {
  width: 50px;
}






