<form action='/route' method='get'>
    <label for='start_train'>Which line will you start on?</label>
    <select name='start_train' class='form-control'>
      <option value='n' >N Line</option>
      <option value='l' >L Line</option>
      <option value='s' >6 Line</option>
    </select>
    <br>
    <label for='stop_a'>Which station do you want to get on at?</label>
    <select name='stop_a' class='form-control'>
      <option value='ts' >N Line - Times Square</option>
      <option value='34th' >N Line - 34th Street</option>
      <option value='28th-n' >N Line - 28th Street</option>
      <option value='23rd-n' >N Line - 23rd Street</option>
      <option value='us' >N Line - Union Square</option>
      <option value='8th-n' >N Line - 8th Street</option>
      <option value='8th-l' >L Line - 8th Street</option>
      <option value='6th' >L Line - 6th Street</option>
      <option value='us' >L Line - Union Square</option>
      <option value='3rd' >L Line - 3rd Street</option>
      <option value='1st' >L Line - 1st Street</option>
      <option value='gc' >6 Line - Grand Central</option>
      <option value='33rd' >6 Line - 33rd Street</option>
      <option value='28th-s' >6 Line - 28th Street</option>
      <option value='23rd-s' >6 Line - 23rd Street</option>
      <option value='us' >6 Line - Union Square</option>
      <option value='ap' >6 Line - Astor Place</option>
    </select>
    <br>
    <label for='stop_train'>Which line will you finish on?</label>
    <select name='stop_train' class='form-control'>
      <option value='n' >N Line</option>
      <option value='l' >L Line</option>
      <option value='s' >6 Line</option>
    </select>
    <br>
    <label for='stop_b'>Which station do you want to get off at?</label>
    <select name='stop_b' class='form-control'>
      <option value='ts' >N Line - Times Square</option>
      <option value='34th' >N Line - 34th Street</option>
      <option value='28th-n' >N Line - 28th Street</option>
      <option value='23rd-n' >N Line - 23rd Street</option>
      <option value='us' >N Line - Union Square</option>
      <option value='8th-n' >N Line - 8th Street</option>
      <option value='8th-l' >L Line - 8th Street</option>
      <option value='6th' >L Line - 6th Street</option>
      <option value='us' >L Line - Union Square</option>
      <option value='3rd' >L Line - 3rd Street</option>
      <option value='1st' >L Line - 1st Street</option>
      <option value='gc' >6 Line - Grand Central</option>
      <option value='33rd' >6 Line - 33rd Street</option>
      <option value='28th-s' >6 Line - 28th Street</option>
      <option value='23rd-s' >6 Line - 23rd Street</option>
      <option value='us' >6 Line - Union Square</option>
      <option value='ap' >6 Line - Astor Place</option>
    </select>
    <br>
    <button class='btn btn-success'>Check</button>
</form>
