/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  text-align: center;
}

header {
  width: 800px;
  margin: 50px auto 50px auto;
}

#yield {
  width: 800px;
  margin: 0 auto;
}

#input {
  margin: 30px 0 50px 50px;
  float: left;
}

#mta_image {
  float: right;
  margin: -40px 50px -50px 0;
}

#result {
  background: rgba(0,0,0,0.1);
  clear: both;
  width: 60%;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px   10px #888888;
}