header, body, footer {
  background-color: #d6d6d6;
  color: #000000; 
  font-family: Helvetica;
}

header {
  background-image: url("images/background.jpg");
  height: 170px;
}

section, aside {
  background-color: white;
  margin-top: 100px;
}

.container {
  width: 940px;
  margin: 0px auto;
}

.container img {
  margin: 0px auto;
  display: block;
}

aside img {
  padding: 10px 0px;
}
aside img:last-of-type {
  padding: 10px 0px 30px 0px;
}

section {
  width: 640px;
  float: left;
}

aside {
  width: 280px;
  float: right;
}

h1 {
  background-image: url("images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 210px;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

h1 a {
  color: transparent;
}
a {
  color: #cc6633;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  margin-left: 20px;
}
h3 {
  margin-left: 20px;
  font-size: 12px;
}

ul {
  margin-left: 20px;
  list-style-type: none;
  font-size: 12px;
}

ul a {
  color: black;
  text-transform: capitalize;
  text-decoration: none
}

p {
  font-size: 12px;
  margin-left: 20px;
  margin-right: 20px;
}
.author {
  border-bottom: 3px double gray;
  border-top: 1px solid gray;
  line-height: 20px;
}

footer img {
  padding: 50px 2px;
}
footer {
  width: 150px;
  margin: auto auto;
  height: 100px;
  clear: both;
}




