* {
  box-sizing: border-box;
}

body {
  background-color: #d6d6d6;
  font-family: Arial, sans-serif;
  color: #000000;
}

header {
  background-image: url("images/background.jpg");
  background-size: contain;
  min-height: 170px;
}

h1 {
  margin-top: -195px;
}

img {
  display: block;
  margin: 0 auto;
}

.ebthf {
  
  margin: 50px auto 50px auto;
  max-width: 940px;
}

.main {
  background-color: white;
  width: 68%;
  margin-top: 30px;
  padding-bottom: 55px;
}

.sidebar {
  float: right;
  background-color: white;
  width: 30%;
  margin-top: 30px;
  padding-bottom: 30px;
}

nav {
  font-weight: bold;
}

.sidebar img {
  margin: 25px auto;
}

article {
  margin: 0 auto;
  padding: 5px;
}

h2 {
  font-size: 20;
  font-weight: bold;
  margin: 30px 0 20px 15px;
}

h3 {
  font-size: 14px;
  font-weight: bold;
  margin: 30px 0 20px 20px;
}

ul {
  font-size: 12px;
  text-indent: 60px;
  line-height: 1.6;
  margin-bottom: 20px;
}

p {
  font-size: 12px;
  line-height: 1.5;
  margin: 10px 0 10px 15px;
}

article a {
  color: #cc6633;
  text-decoration: none;
}

ul a {
  color: #000000;
  text-decoration: none;
}

.author {
  border-top: 2px dotted #000;
  border-bottom: 2px solid #000;
  margin: 0 15px;
}

.author p {
  margin: 0px;
}

footer {
  min-height: 120px;
  margin: 0 auto;
  text-align: center;
}

footer img {
  display: inline-block;
}

