<h1>Super Navigation</h1>

<% if @error %>
<h2><%= @error %></h2>
<% end %>

<form action='/navigate' method='post'>
  <input type='text' name='destination' autofocus>
  <button>Nav!</button>
</form>
