<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/style.css'>
    <title>My website</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/sports'>Sports</a></li>
        <li><a href='/weather'>Weather</a></li>
        <li><a href='/gossip'>Gossip</a></li>
        <li><a href='/celebrity'>Celebrity</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
